@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

section {
  padding: 30px 10px;
}

.navbar {
  background: #faa811;
}

.navbar .nav-item {
  margin-right: 30px;
}

.navbar .nav-item .nav-link {
  color: white;
  cursor: pointer;
}

.navbar .navbar-brand {
  font-size: 23px;
  font-style: italic;
  letter-spacing: 1px;
  margin-left: 10px;
}

.CardProduct {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.CardProduct .card-body {
  height: 200px;
  padding: 5px auto;
  text-align: center;
}

.CardProduct .card-body .detail-title h5 {
  font-weight: bold;
  letter-spacing: 1px;
}

.CardProduct .card-body .detail-title span {
  font-size: 13px;
  color: red;
  cursor: pointer;
}

.CardProduct .card-body .detail-title span:hover {
  font-weight: bold;
  color: teal;
}

#detailProduct {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  color: white;
}

#detailProduct strong {
  color: black;
}

#detailProduct button {
  padding: 5px 20px;
  background-color: black;
  color: white;
}

#detailProduct img {
  height: 400px;
  margin-right: 10px;
}

.Jumbotrons {
  position: relative;
}

.Jumbotrons .textJumbotron {
  position: absolute;
  top: 45%;
  left: 5%;
  color: white;
}

.Jumbotrons .textJumbotron h3 {
  font-size: 60px;
  font-family: "lobster" cursive;
  font-weight: bold;
  z-index: 2;
  letter-spacing: 3px;
  font-style: italic;
}

.Jumbotrons .textJumbotron p {
  z-index: 2;
}

.Jumbotrons .carousel-item {
  position: relative;
}

.Jumbotrons .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.Jumbotrons img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form-login {
  width: 100%;
  border: 2px solid yellow;
  padding: 10px;
  margin-top: 20px;
  color: white;
}

input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
  width: 70%;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
          box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  -webkit-box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
          box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  -webkit-box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
          box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}

button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input-group label {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#Comp_About {
  position: relative;
}

#Comp_About::after {
  content: "";
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gold;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 24% 49%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 24% 49%, 100% 100%, 0% 100%);
}

#Comp_About .HeadingSection {
  position: relative;
}

#Comp_About .HeadingSection .sub_Heading {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: #f3c063;
  line-height: 1;
  font-family: "Great Vibes", cursive;
  margin-top: 0;
  z-index: -1;
  letter-spacing: 2px;
}

#Comp_About .HeadingSection .title_Heading {
  font-size: 50px;
  line-height: 5;
  text-align: left;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 10px;
}

#Comp_About .HeadingSection .description_Heading {
  font-family: sans-serif;
  margin-top: -70px;
  color: black;
  font-size: 17px;
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    margin-left: 0;
  }
  #detailProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #detailProduct img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  #detailProduct button {
    width: 100%;
  }
  form {
    width: 80%;
  }
  #Comp_About::after {
    content: "";
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: gold;
    -webkit-clip-path: polygon(0% 0, 100% 100%, 100% 0);
            clip-path: polygon(0% 0, 100% 100%, 100% 0);
  }
}
/*# sourceMappingURL=Style.css.map */