@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

$titleFont: "lobster" cursive;
$descFont: "Poppins", sans-serif;
// ================================================== MIXIN
@mixin CllipyAfter($styleClipy, $bg) {
  &::after {
    content: "";
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $bg;
    clip-path: $styleClipy;
  }
}
@mixin CllipyBefore($styleClipy, $bg) {
  &::before {
    content: "";
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $bg;
    clip-path: $styleClipy;
  }
}

@mixin TitleSpanBeforeContet($top) {
  position: absolute;
  top: $top;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: #f3c063;
  line-height: 1;
  font-family: "Great Vibes", cursive;
  margin-top: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
section {
  padding: 30px 10px;
}
.navbar {
  background: #faa811;
  .nav-item {
    margin-right: 30px;

    .nav-link {
      color: white;
      cursor: pointer;
    }
  }
  .navbar-brand {
    font-size: 23px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 10px;
  }
}

.CardProduct {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  .card-body {
    height: 200px;
    padding: 5px auto;
    text-align: center;

    .detail-title {
      h5 {
        font-weight: bold;
        letter-spacing: 1px;
      }
      span {
        font-size: 13px;
        color: red;
        cursor: pointer;
        &:hover {
          font-weight: bold;
          color: teal;
        }
      }
    }
  }
}
#detailProduct {
  display: flex !important;
  color: white;
  strong {
    color: black;
  }
  button {
    padding: 5px 20px;
    background-color: black;
    color: white;
  }
  img {
    height: 400px;
    margin-right: 10px;
  }
}

// ========================================== Jumbotrons
.Jumbotrons {
  position: relative;
  .textJumbotron {
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    h3 {
      font-size: 60px;
      font-family: $titleFont;
      font-weight: bold;
      z-index: 2;
      letter-spacing: 3px;
      font-style: italic;
    }
    p {
      z-index: 2;
    }
  }
  .carousel-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  }
  img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

.form-login {
  width: 100%;
  border: 2px solid yellow;
  padding: 10px;
  margin-top: 20px;
  color: white;
}

// ========================================================================================FORM LOGIN
$ruler: 16px;
$color-red: #ae1100;
$color-bg: white;
$color-shadow: #babecc;
$color-white: #fff;

input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
}

form {
  padding: $ruler;
  width: $ruler * 20;
  margin: 0 auto;
  width: 70%;
}

.segment {
  padding: $ruler * 2 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: block;
  margin-bottom: $ruler * 1.5;
  width: 100%;
}

input {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler * 3;
    height: $ruler * 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $ruler/2;
    font-size: $ruler * 1.2;
  }

  &.red {
    display: block;
    width: 100%;
    color: $color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}

// ============================================================Comp_About
#Comp_About {
  position: relative;
  @include CllipyAfter(
    polygon(0% 0%, 100% 0, 24% 49%, 100% 100%, 0% 100%),
    gold
  );

  .HeadingSection {
    position: relative;
    .sub_Heading {
      @include TitleSpanBeforeContet(50px);
      letter-spacing: 2px;
    }
    .title_Heading {
      font-size: 50px;
      line-height: 5;
      text-align: left;
      font-weight: bold;
      letter-spacing: 3px;
      margin-top: 10px;
    }
    .description_Heading {
      font-family: sans-serif;
      margin-top: -70px;
      color: black;
      font-size: 17px;
    }
  }
}

// MediaQury==================================================================
@media (max-width: 768px) {
  .navbar {
    .navbar-brand {
      margin-left: 0;
    }
  }
  #detailProduct {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    button {
      width: 100%;
    }
  }

  form {
    width: 80%;
  }

  #Comp_About {
    @include CllipyAfter(polygon(0% 0, 100% 100%, 100% 0), gold);
  }
}
